* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  font-size: 1.25rem;
  padding: 0 5%;
  background-image: linear-gradient(
    to right,
    #aa9655 0%,
    #fafafa 20%,
    #fafafa 80%,
    #aa9655 100%
  );
}

img {
  width: 50%;
}

.smallPortrait {
  width: 85px;
  border: solid #aa9655;
  border-radius: 25%;
}

nav {
  overflow: hidden;
  color: #aa9655;
  background-color: #783241;
  position: sticky;

  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;

  text-transform: uppercase;
}

main {
  display: block;
}

h1,
h2 {
  color: #451d26;
}

p {
  font-family: "Poppins", sans-serif;
  color: #5e532f;
  font-size: 16px;
}

a {
  color: inherit;
  padding: 10px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
